.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 15px;
   
    align-items: center;
    
}
.header .logo{
    display: flex;
    align-items: center;
}
.header .logo img{
    height: 20px;
    margin-left: 50px;
}
.header-info .login-btn{
    width: 80px;
    height: 30px;
    background: white;
   
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
    font-size: 15px;
    font-weight: 600;
}
.header-info{
    display: flex;
    text-align: center;
    align-items: center;
   
}

  .header-info img{
    width: 30px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.path{
    display: flex;
    gap: 20px;
    align-items: center;
}
.path .number{
    /* border: 1px solid black; */
    padding: 5px;
    width: 30px;
    background: rgb(229, 229, 240);
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.number:hover{
    background: blue;
    cursor: pointer;
}

.information{
    margin-left: 55px;
}